body    {
    background-color: aquamarine;
    margin-left: 20px;
}
.title {
    font-size: 60 px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.kinal {
    text-align: center;

}
.img-size{
    size: 30px;
    height: 30px;

}
